@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root{
    ---whitecolor: #fff;
    --winecolor: #a40101;
    --graycolor: #c4c4c4;
    --bluecolor:#2ca3ab;
    --bluedark: #1d1b45;
    --bluesky: #A8DDE0;
    --orangecolor: #f3610e;
    --black: #000;
    --graydark: #4444;

}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/10.png);

}

main{
    
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;

}

label{ 
    padding: 5px;

}




.container{
    background-color: var(---whitecolor);
    border-radius: 15px;
    width: 460px;
}

.logo{
    text-align: center;
    background-color: var(--bluesky);
    padding: 40px 80px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
}
.logo img{
    width: 100%;
}

.texto{
    animation-name: mover;
    animation-duration: 2s ;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    animation-timing-function: ease-out;
}

@keyframes mover{
    0%{
        transform: translatex(0);
    }

    100%{
        transform: translatey(150%);
        color: var(--orangecolor);
    }
}


.button-back{
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: -10px;
    
    left: 160px;
    background-color:  var(--bluedark);
    border: 2px solid var(--bluecolor);
    border-radius: 15px;
    color: var(---whitecolor);
    padding: 10px ;
    text-align: center;
    cursor: pointer;
}

.button-back:hover{
  color: rgb(204, 204, 204) !important;
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  transition: all 0.2s ease;
}

.login-form{
    padding-top: 10px;
}

.login-enviar {
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 15px;
}

.login-enviar__anchor{
    font-size: small;
}

#button-enviar{
    margin-top: 16px;
    width: 30%;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--orangecolor);
    color: var(---whitecolor);
    border-color: var(--bluecolor);
    border-radius: 10px;
    cursor: pointer;
}

#button-enviar:hover{
    color: rgb(204, 204, 204) !important;
    box-shadow: 0 4px 6px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}

#incorrect-user{
    border-radius: 10px;
    color:#f3610e;     
    font-weight: 800;
    visibility: hidden;
    opacity: 0;
    text-align: center;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 0;
    font-size: 16px;
    width: 80%;
}

.form-group input{
    padding-left: 10px;
    height: 35px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #A8DDE0;
    background-color: #a8dde069;
    margin-top: 10px;
}

.bton-ingresar{
    background-color: var(--orangecolor);
    color: var(---whitecolor);
    border-radius: 5px;
    border: 1px solid #2f2c6d;
    margin: 20px 10px 20px;
    padding: 5px;
    width: 120px;
    font-size: 16px;
    font-weight: bold;
}

.pass{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border-radius: 12px;

    padding-right: 5px;
}



@media (max-width: 768px) {

    .container{
        width: 70%;
    }
    .button-back{
        
        left: 100px;
    }
}
@media (max-width: 400px){
    .button-back{
        
        left: 60px;
    }
    .logo img{
        width: 140%;
        right: 40%;
    }
}
