@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root{
    ---whitecolor: #fff;
    --winecolor: #a40101;
    --graycolor: #c4c4c4;
    --bluecolor:#2ca3ab;
    --bluedark: #1d1b45;
    --bluesky: #A8DDE0;
    --orangecolor: #f3610e;
    --black: #000;
    --graydark: #4444;
    --darkcolor: #191919;
}

*{
  font-family: 'Poppins', sans-serif;
}

.container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

header{
  grid-column: 1/3;
  background-image: linear-gradient(to bottom right, #1d1b45 0%, #332f8a 24%, #272861 49%, #020b61 75%, #427ace  100%);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-size: 200% 200%;
  animation: fmovimiento 5s linear infinite alternate;

}

@keyframes fmovimiento{
  from{
      background-position: 0 0;
  
  }
  to{
  background-position: 100% 100%;
  }
}





header img{
  margin-top: 20px;
  max-width: 100%;
}

.buttons-header{
  grid-column: 3/3;
  margin: 20px;
}

.btnformuno{
  width:30px;
  height:30px;
  margin: 5px;
  border-radius: 50%;
  font-size:10px;
  border: 2px solid var(--bluecolor);
  color: var(--darkcolor);
  cursor: pointer;
}

.btnformuno:hover{
  color: rgb(204, 204, 204) !important;
  box-shadow: 0 4px 6px rgba(49, 138, 172, 1);
  transition: all 0.2s ease; 

}

.banner-img{
  grid-column: 1/3;
  background-color: #2ca3ab;
}

.banner-img img{
  width: 100%;
}

.title{
  margin-top: 20px;
  grid-column: 1/3;
  background-color: #1d1b45;
  text-align: center;
  border-radius: 10px;
  color: white;
}

.container2{
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  border: 2px solid var(--graycolor);
  grid-column: 1/3;
  text-align: center;
  margin-top: 20px;
  background-color: var(---whitecolor);
}

.form{
  grid-column: 1/3;
  width: 90%;
  gap: 10px;
  border-radius: 20px;
  margin: 1.6em auto;
  border: 2px solid black;
  background-color: var(--graycolor);
}

.input{
  margin: 20px;
  width: 150px;
  height: 30px;
  border: 1px solid #2ca3abd5;
  padding: 0 10px;
  color: gray;
}

.datospaciente{
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2,fr);
  grid-column: 1/3;
  text-align: center;
  margin: 10px;
  background-color: var(--bluecolor);
  border: 1px solid black;
  color: var(---whitecolor);
}

.datospaciente h3{
  grid-column: 1/3;
  text-align: center;
}



.datos {  
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 10px;
}

.datos input{
  margin: 20px;
  height: 30px;
}

.datos select{
  height: 30px;  
  margin: 20px;
}

.datosp {  
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 10px;
}

.datosp input{
  margin: 20px;
  height: 30px;
  width: 150px;
}

.datosp select{
  height: 30px;
  margin: 20px;
    width: 150px;
}

.pr{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 10px;
}

.pr input{
  margin: 20px;
  height: 30px;
}

.pr select{
  height: 30px;
  margin: 20px;
}


.radio label{
  margin: 20px;
}

.radio .opradio{
  text-align: center;
  margin: 20px;
}

.buttonenviar{

  margin-top: 10px;
  width: 30%;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--orangecolor);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

#footer{
  display: flex;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(to bottom right, #000000 0%, #5c5c5c 24%, #161027 49%, #243670 75%, #5f5f5f  100%);
  background-size: 200% 200%;
  animation: fmovimiento 5s linear infinite alternate;
  color: var(---whitecolor);
  align-items:flex-start;
  justify-content: center;
  font-size: 14px;
  font-weight: 100;
}

#register-user{
  border: 3px solid var(--gray-color);
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#register-user i{
  font-size: 20px;
}

.form-register{
  background-color: var(--gray-color);
  border-radius: 10px;
  padding: 10px 20px;
  border: 2px solid black;
}

.form-register input, .form-register select{
  border: 2px solid var(--blue-color);
  height: 35px;
  margin: 10px 10px 10px 0px;
}

.registerPacient{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-register{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding: 0 1.5% 0 1.5%;
}

.date-register .group-data input{
  display: flex;
  margin-right: 35px;
  width: 100px;
}

.title-user-new{
  background-color: var(--blue-color);
  border-radius: 5px;
  border: 1px solid var(--black-color);
}

.title-user-new i{
  margin-left: 10px;
}

.title-user-new h3{
  color: var(--white-color);
  text-align: center;
  font-weight: normal;
  margin: 7px;
}

.title-user-new div{
  display: flex;
  padding: 0;
  align-items: center;
}

.user-data{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.user-data div{
  min-width: 300px;
  width: 100%;
}

.user-data input, .form-control {
  display: flex;
  width:100%;
}

.user-data select{
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-control{
  margin: 0px 10px;
}

.inputs3{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.inputs3 div{
  width: 100%;
}

.inputs3 select{
  width: 30%;
}

.inputs3 input, .inputs3 select{
  width: 100%;
  padding-left: 10px;
}

input::placeholder{
  padding-left: 10px;
}

select{
  padding-left: 6px;
}

.buttons-head{
  grid-template-columns: 40% 60%;
  align-items: center;
  margin-top: -15px;
}
.div-buttons{
  justify-content: flex-end;
}

.buttons-head .bton-ingresar{
  width: 160px;
  font-size: 16px;
}

#header-register{
  display: flex;
  flex-direction: column;
  background-color: var(--blue-color);
  padding: 0;
}

#header-register .logo{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--black-color);
}

#header-register .logo img{
  width: 200px;
}

#header-register .franja{
  margin: 0;
  width: 100%;
}

#header-register .btons .off i{
  animation:girar 2s 2s infinite;
}

.bton-ingresar{
  background-color: var(--orangecolor);
  color: var(---whitecolor);
  border-radius: 5px;
  border: 1px solid #2f2c6d;
  margin: 20px 10px 20px;
  padding: 5px;
  width: 120px;
  font-size: 16px;
  font-weight: bold;
}

.btons i{
  background-color: var(--gray-color);
  padding: 5px;
  border-radius: 50%;
  border: 3px solid var(--blue-color);
  margin-left: 6px;
  font-size: 20px;
  color: var(--black-color);
}

/*FORMULARIO REGISTRO VACUNACIÓN--------*/
#vacunation fieldset{
  border: none;
  width: 100%;
  margin: 15px 0;
}

.h2-user-new{
  padding-left: 15px;
  width: 100%;
  background-color: var(--dark-blue-color);
  color: var(--white-color);
  border-radius: 5px;
}

.buttons-head{
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
}

.buttons-head .bton-ingresar{
  width: 140px;
  font-size: 14px;
}

.buttons-head a{
  text-align: center;
  text-decoration: none;
}

.buttons-head h4{
  padding: 10px;
}

.div-buttons{
  display: flex;
  justify-content: center;
}

.observation{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.observation textarea{
  border: 2px solid var(--blue-color);
  width: 60%;
  text-align: center;
  padding-top: 20px;
}

textarea:focus{
  outline: none;
}


@media(min-width:300px ){
  .datosp input{
    margin: 20px;
    height: 30px;
    width: 250px;
  }
  
  .datosp select{
    height: 30px;
    margin: 20px;
      width: 250px;
  }
}


@media (min-width: 768px) {
  /*Pacientes*/
  .patients-btons{
      justify-content: space-between;
      width: 76%;
  }
  
  #register-user{
      padding: 15px;
  }

  .form-register{
      border-radius: 10px;
  }

  .inputs3{
      flex-wrap: nowrap;
      justify-content: space-around;
      width: 100%;
      padding: 0 20px 0;
  }

  .inputs3 input, .inputs3 select{
      width: 99%;
  }

  .radio-form div{
      justify-content: center;
  }

  .user-data div{
      min-width: 300px;
      width: 47%;
  }
  
  .buttons-head{
      grid-template-columns: 40% 60%;
      align-items: center;
      margin-top: -15px;
  }
  .div-buttons{
      justify-content: flex-end;
  }

  .buttons-head .bton-ingresar{
      width: 160px;
      font-size: 16px;
  }

  .datosp input{
    margin: 20px;
    height: 30px;
    width: 600px;
  }
  
  .datosp select{
    height: 30px;
    margin: 20px;
      width: 250px;
  }

}


.buttonenviar:hover{

      background-color:var(---orange-color) ;
  
  
  }

@media (max-width: 768px ) {
  .datos,.datosp{
    grid-template-columns: 1fr ;
  }
  .pr{
    grid-template-columns: 1fr 1fr;
  }
  .datosp input{
    margin: 20px;
    height: 30px;
    width: 350px;
  }
  
  .datosp select{
    height: 30px;
    margin: 20px;
    width: 350px;
  }
}


@media (max-width: 375px ) {
  
  .pr{
    grid-template-columns:  1fr;
  }
}





@media (min-width:1024px) {

    .btnformuno{
      width:60px;
      height:60px;
    }  



    .buttons-head{
        display: grid;
        margin: 30px;
    }


    .btnformuno{
        font-size:25px;
    }

    .bton-ingresar{

        padding: 10px;
        cursor: pointer;
        font-size: 15px;
        border-radius: 9px;
    }


  .datosp input{
    margin: 20px;
    height: 30px;
    width: 250px;
  }
  
  .datosp select{
    height: 30px;
    margin: 20px;
    width: 250px;
  }
}




